/**
 * Inhaltsverzeichnis *
 * auf ganzer Website....html, body...
 *
 * SCHRIFTEN.....p, h
 *
 * ABSTÄNDE
 *
 SPEZIELLE STYLES

 * Header
  *
 *  FOOTER
  *
  *HOME
*
  *Projekt
*
  *Infos
*
*Kontakt
*
*  GALERIE
 *
 *
 *INFORMATIK PHP Seite
 *
 */

/* Gesamte Website styles
------------------------------------*/
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  hyphens: auto;
  /* hintergrundbild */
  background-image: url("https://raw.githubusercontent.com/jasmin-f/ePortfolio-2019/main/img/hintergrundbildhandy.jpg");
  background-attachment: fixed;
  height: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgb(242, 237, 208);
}

/*Um schneller zu laden lädt es gutes Hintergrund bild nur bei grossem Bildschirm */
@media only screen and (min-width: 576px) {
  body {
    background-image: url("https://raw.githubusercontent.com/jasmin-f/ePortfolio-2019/main/img/hintergrundbild1000px.jpg");
    background-position: center;
  }
}

/* Bilder allgemein */
img {
  max-width: 100%;
  max-height: 100%;
}

/* Schriften */
/*------------------------------------*/
p {
  /* Blocksatz und Silbentrennung */
  text-align: left;
  color: #555b62;
  font-size: 0.8rem;
}

p.zentriert {
  text-align: center;
}

/* die Titel */
h1, h2 {
  font-family: 'Permanent Marker', cursive;
  /* text-transform: lowercase; */
}

/* riesiger Titel */
h1 {
  font-size: 5rem;
  font-style: italic;
  font-weight: bold;
  color: #222;
}

/* Titel */
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #39f;
}

/* >= 992 ist lg bei Bootstrap  */
@media only screen and (min-width: 992px) {
  h2 {
    padding: 20px;
  }
}

/* Text-Titel  */
h3 {
  font-size: 1.5rem;
  margin-top: 5%;
  margin-bottom: 2%;
  font-style: italic;
  color: #333;
}

/* Titel im Footer */
h4 {
  font-size: 1.5rem;
  color: #39f;
}

/* link styles */
.buttons {
  margin-bottom: 1rem;
}

/* normaler und bereits besuchter link */
a:link, a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #39f;
  text-decoration: underline;
  text-underline-offset: 4px
}
/* beim klick auf den link */
a:link:active, a:visited:active {
  color: rgb(241, 248, 255);
}

.link-animiert {
  margin-top: 40px;
}

.link-animiert a {
  background-color: #39f;
  padding: 15px 20px;
}

a.link-weiss {
  color: white;
}

.text {
  background-color: white;
  padding: 5%;
}

.text-abstand {
  padding: 5%;
}

/* .footer-text {
  text-align: center;
  font-size: 0.7em;
  color: grey;
} */
address {
  text-align: center;
  font-size: 0.7em;
  color: grey;
}

/*---------------ABSTÄNDE---------------------*/
.abstand {
  margin-top: 150px;
}

@media only screen and (min-width: 576px) {
  .mittlerer-abstand {
    margin-top: 20%;
  }
}

.mittlerer-abstand {
  margin-top: 10%;
}

/* Der mittlere Abstand beim Handy */
@media only screen and (max-width: 576px) {
  .mittlerer-abstand {
    margin-top: 20px;
  }
}

.kleiner-abstand {
  margin-top: 2%;
}

#about-me {
  padding-top: 30px;
}

/* Der kleine Abstand beim Handy */
@media only screen and (max-width: 576px) {
  .kleiner-abstand {
    margin-top: 15px;
  }
}

.abstand-header {
  margin-top: 200px;
}

@media only screen and (max-width: 576px) {
  .abstand-header {
    margin-top: 130px;
  }
}

/* spezielle tags */
/*------------------------------------*/
/* .dreieck */
.dreieck-platzierung {
  padding: 50px 0 50px 0;
}

.dreieck {
  margin: 10px 50px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid rgb(2, 169, 211);
}

.dreieck-text {
  color: white;
}

/* link auf div (dreieck) */
a.overlay {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

/*------------------------------------*/
/*------------HEADER------------------------*/
/* Um header durchsichtig zu machen */
.durchsichtig {
  background-color: rgba(255, 255, 255, 0.95);
}

@media only screen and (max-width: 576px) {
  .header-logo {
    width: 70px;
    height: 70px;
  }
}

.logolink {
  width: auto;
  height: 100px;
}

#nav-fixed {
  position: fixed;
  top: -3px;
  width: 100%;
  z-index: 9999;
}

.dropdown-toggle[aria-expanded="true"] {
  background: #FFF !important;
  color: #000 !important;
}

/*---------------FOOTER---------------------*/
footer {
  background-color: white;
  padding: 15px;
  margin-top: 20px;
}

/* auf home seite */
/*---------------INDEX---------------------*/
#index {
  position: relative;
  top: 50%;
}

#grosseslogo {
  margin: 150px auto 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgb(1, 169, 211);
  background-image: url("https://raw.githubusercontent.com/jasmin-f/ePortfolio-2019/main/img/index/logo.png");
  background-size: cover;
  background-position: center;
  transition: opacity 250ms ease;
}

@media screen and (min-width: 576px) {
  #grosseslogo {
    width: 500px;
    height: 500px;
  }
}

/* Wenn man mit Maus über das Logo geht, ändert sich das Bild zu einem Foto von mir */
#grosseslogo:hover {
  /* background-image: url('https://raw.githubusercontent.com/jasmin-f/ePortfolio-2019/main/img/index/lachendesfoto.jpg');
  background-position: center;
  background-size: cover; */
  opacity: 80%;
}

.icon-img {
  width: 70%;
  border-color: black;
  border-width: 100px;
}

.icon-img:hover {
  transform: rotate(5deg);
}



/*-------------------PROJEKT-E----------------*/

/* Der Dropdown vom icon "Projekte", nicht header */
.dropdown-abstand {
  margin-top: 200px;
}
/* @media (max-width: 576px) {
    .dropdown-abstand {
      margin-top: 200px;
    }
  } */

.player {
  width: 100%;
  /*  width: 85%;
    overflow: auto;*/
}

.bild-hoerspiel {
  width: 85%;
  height: auto;
}

@media screen and (min-width: 1000px) {
  .uk-img {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .uk-img:hover {
    width: 500px;
  }
}

/* Auf Seite Infos/über mich */
/*------------------------------------*/
.slider-text {
  color: white;
  text-align: center;
}

.carousel-caption {
  background: #39f;
  padding: 20px
}

/* Damit es zentriert ist */
.carousel {
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .img-slider {
    max-height: 750px;
    width: auto;
  }
}

@media screen and (min-width: 1000px) {
  .img-slider {
    max-height: 500px;
    width: auto;
  }
}

/* Kontaktseite */
/*------------------------------------*/
.maps-style {
  border: 0;
  height: 300px;
  width: 100%;
}

/* Bildergalerie Seite */
/*------------------------------------*/
.project-tile {
  border-width: 0;
  border-radius: 0;
  border: 0;
}
.gouache {
  transform: rotate(90deg);
}

@media screen and (max-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}